@charset "UTF-8";
/* SEMANTIC TAG STYLES */
* {
	box-sizing: border-box;
	font-family: "Quicksand", "Poiret One", "Josefin Sans", sans-serif;
	position: relative;
	overflow: auto;
}

html {

}

h1 {
	padding-bottom: 10px;
	font-family: "Quicksand" !important;
}

nav {
	display: inline;
}

body {
	float: both;
}

h3 {
	font-size: 90%;
	text-align: center;
	padding-bottom: 3px;
}

b {
	color: #011f4b;
}

li {
	font-size: 170%;
}

footer {
	padding: 10px;
}

a {
	text-decoration: none !important;
}

a:hover {
	text-decoration: none;
}

.bottom-padding {
	padding-bottom: 50px;
}

/* NAVIGATION BAR */

.top-menu {
	padding: 10px;
}

.nav-link {
	padding: 10px;
	font-size: 130%;
	color: #011f4b;
}

.nav-link:hover {
	color: #7bd4cc;
	/* Remove underline when hovering over link*/
	text-decoration: none;
}

/* The link the user is currently on */
.active {
	color: #037367;
}

.button {
	font-family: "Quicksand" !important;
}

/* HOME PAGE */

.home-button {
	font-size: 3em;
	width: 60px;
	height: 50px;
	padding-left: 5px;
	padding-right: 5px;
  color: #037367;
  border: 1.5px solid #037367;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
	overflow: hidden;
}

.home-button:hover {
	color: white;
  background: #037367;
}


.logo {
	min-width: 52px;
	width: 104px;
	height: 124px;
  color: #037367;
  border: 4px solid #037367;
  text-decoration: none;
	overflow: hidden;
}

.name-text {
	font-size: 3.5em;
	text-align: center;
	font-family: "Quicksand";
}

.white-text {
	color: white;
}

.name-top {
	padding-bottom: 10px;
}

.home-text-title {
	color: white;
	text-align: center;
	font-size: 150%;
	text-transform: lowercase;
}

.home-box {
	padding-top: 20px;
	padding-bottom: 20px;
	height: 280px;
}


/* Border Box */
* {
  box-sizing: border-box;
}


/* PERIODIC TABLE */

.symbol {
	position: relative;
	bottom: 10px;
	font-size: 29px;
	overflow: hidden;
}

.long-symbol {
	position: relative;
	bottom: 0px;
	font-size: 20px;
	overflow: hidden;
}

.long-name {
	position: relative;
	bottom: 5px;
	font-size: 8px;
	overflow: hidden;
}

.element-name {
	position: relative;
	bottom: 15px;
	font-size: 8px;
	overflow: hidden;
}

.element-name-long {
	position: relative;
	bottom: 15px;
	font-size: 6px;
	overflow: hidden;
}

.atomic-number {
	font-size: 10px;
	padding-left: 5px;
	padding-top: 1px;
	overflow: hidden;
}

.box {
	min-width: 52px;
	width: 52px;
	height: 62px;
  color: #037367;
  border: 1.5px solid #037367;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
	overflow: hidden;
}

.box:hover {
	color: white;
  background: #037367;
}

.alkali-metal {
	color: #c41b13;
	border: 1.5px solid #c41b13;
}

.box.alkali-metal:hover {
	color: white;
	background: #c41b13;
}

.alkaline-metal {
	color: #fa9200;
	border: 1.5px solid #fa9200;
}

.box.alkaline-metal:hover {
	color: white;
	background: #fa9200;
}

.post-transition-metal {
	color: #d28627;
	border: 1.5px solid #d28627;
}

.box.post-transition-metal:hover {
	color: white;
	background: #d28627;
}

.metalloid {
	color: #bd00ff;
	border: 1.5px solid #bd00ff;
}

.box.metalloid:hover {
	color: white;
	background: #bd00ff;
}

.non-metal {
	color: #71acd6;
	border: 1.5px solid #71acd6;
}

.box.non-metal:hover {
	color: white;
	background: #71acd6;
}


.halogen {
	color: #ff0070;
	border: 1.5px solid #ff0070;
}

.box.halogen:hover {
	color: white;
	background: #ff0070;
}



.noble-gas {
	color: #6D005A;
	border: 1.5px solid #6D005A;
}

.box.noble-gas:hover {
	color: white;
	background: #6D005A;
}

.lanthanide {
	color: #3e252c;
	border: 1.5px solid #3e252c;
}

.box.lanthanide:hover {
	color: white;
	background: #3e252c;
}

.actinide {
	color: #58ba0c;
	border: 1.5px solid #58ba0c;
}

.box.actinide:hover {
	color: white;
	background: #58ba0c;
}

td {
	padding-bottom: 3px !important;
}

.element-image {
	width: 70%;
}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}


/* WORK PAGE */

.img-center {
	display: block;
	margin: 0 auto;
}
